In [1]:
import pandas as ps

In [18]:
#https://spark.apache.org/docs/latest/api/python/user_guide/pandas_on_spark/pandas_pyspark.html

In [2]:
s1 = ps.Series(range(5))
print(s1)
def sqrt(x) -> float:
    return  x**2

s2=s1.transform(sqrt)
print(s2)

0    0
1    1
2    2
3    3
4    4
dtype: int64
0     0
1     1
2     4
3     9
4    16
dtype: int64

In [3]:
d1=s1.to_frame(name='s1')
d2=s2.to_frame(name='s2')
d12=ps.concat([d1, d2],axis=1)
d12

   s1  s2
0   0   0
1   1   1
2   2   4
3   3   9
4   4  16

In [4]:
def s12_do_something(item) :
  if item.s1>=3:
    return item.s2+item.s1
  else:
    return item.s2-item.s1

In [5]:
d12['float3']=d12.apply(s12_do_something,axis=1)

In [6]:
d12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      5 non-null      int64
 1   s2      5 non-null      int64
 2   float3  5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes

In [7]:
d12

   s1  s2  float3
0   0   0       0
1   1   1       0
2   2   4       2
3   3   9      12
4   4  16      20