In [2]:

import pandas as pd
from pyspark.sql import SparkSession,SQLContext
#https://pypi.org/project/pyarrow/

In [3]:
# pd_df=pd.read_csv("incident.csv")
data = [['Scott', 'x'], ['Jeff', 'y'], ['Thomas', 'a'],['Ann','b']] 
 
# Create the pandas DataFrame 
pd_df = pd.DataFrame(data, columns = ['Name', 'Title']) 
print(pd_df.info())  
pd_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Title   4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes
None

     Name Title
0   Scott     x
1    Jeff     y
2  Thomas     a
3     Ann     b

In [7]:

# Create SparkSession 
spark = SparkSession.builder .appName("PandasToSparkDF").getOrCreate()

In [8]:
spark

In [16]:

import pandas as pd

# from pyspark library import
# SparkSession
from pyspark.sql import SparkSession

# Building the SparkSession and name
# it :'pandas to spark'
spark = SparkSession.builder.appName(
"pandas to spark").getOrCreate()

# Create the DataFrame with the help
# of pd.DataFrame()
data = [['Scott', 'x'], ['Jeff', 'y'], ['Thomas', 'a'],['Ann','b']] 
 
# Create the pandas DataFrame 
pd_df = pd.DataFrame(data, columns = ['Name', 'Title']) 


# enableing the Apache Arrow for converting
# Pandas to pySpark DF(DataFrame)
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

# Creating the DataFrame
sprak_arrow = spark.createDataFrame(pd_df)

# Show the DataFrame

In [19]:
sprak_arrow.show()

+------+-----+
|  Name|Title|
+------+-----+
| Scott|    x|
|  Jeff|    y|
|Thomas|    a|
|   Ann|    b|
+------+-----+