In [4]:
from  pyspark.sql import SparkSession
import pyspark.pandas as ps
import pandas as pd
import json
from datetime import datetime,date
import re

In [10]:
spark=SparkSession.builder.master("local").appName("PySpark-Pandas").config("spark.jars", "postgresql-42.3.6.jar").getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [11]:
df_all = ps.DataFrame(
    {'no': ['SR-ES-22-0001','SR-ES-22-0002' ,'SR-ES-22-0003'],
     'subject': ['aaaa','bbbb', 'cccc'],
     'open_date': ["2022-07-01 12:25", "2022-07-01 22:25", "2022-07-01 08:30"],
     'open_date_str': ["01 Jul 2022 12:25", "01 Jul 2022 22:25", "01 Jul 2022 08:30"]
    })

In [12]:
df_all

              no subject         open_date      open_date_str
0  SR-ES-22-0001    aaaa  2022-07-01 12:25  01 Jul 2022 12:25
1  SR-ES-22-0002    bbbb  2022-07-01 22:25  01 Jul 2022 22:25
2  SR-ES-22-0003    cccc  2022-07-01 08:30  01 Jul 2022 08:30

In [13]:
#df_all['open_date']=
#ps.to_datetime(df_all['open_date'].to_numpy(),format='%Y-%m-%d %H:%M')
df_all['open_issue']=ps.to_datetime(df_all['open_date_str'].tolist(),format='%d %b %Y %H:%M').tolist()
df_all.info()

<class 'pyspark.pandas.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   no             3 non-null      object
 1   subject        3 non-null      object
 2   open_date      3 non-null      object
 3   open_date_str  3 non-null      object
 4   open_issue     3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(4)