In [20]:
from pyspark.sql import  SparkSession
#https://sparkbyexamples.com/pyspark-tutorial/

In [26]:

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkByExamples.com") \
      .getOrCreate()

In [33]:
# Create RDD from parallelize    
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd=spark.sparkContext.parallelize(dataList)
rdd

ParallelCollectionRDD[11] at readRDDFromFile at PythonRDD.scala:274

In [39]:
# createDataFrame

data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]
columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [41]:
df=spark.read.csv('summary_binance.csv',header=True)
df.printSchema()

root
 |-- Symbol: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- AvgPrice: string (nullable = true)

In [42]:
df.show()

+------+----+---------+----------+-----------+
|Symbol|Type|   Amount|     Total|   AvgPrice|
+------+----+---------+----------+-----------+
|  ATOM| BUY|    13.48|  398.4496|   29.55858|
|  ATOM|SELL|    14.05|  356.1869|   25.35138|
|  AVAX| BUY| 12.08755| 896.13613|   74.13712|
|  AVAX|SELL| 12.21432| 733.28059|    60.0345|
|   BNB| BUY|  1.41702|  556.7298|  392.88777|
|   BNB|SELL|    0.566|   202.336|   357.4841|
|   BTC| BUY|  0.00813| 323.33441|39770.52966|
|   BTC|SELL|   0.0044| 168.36033|38263.71089|
|   ETH| BUY|    0.257| 700.35335| 2725.11031|
|   ETH|SELL|  0.19098| 494.48152| 2589.14049|
|  LUNA| BUY|     0.35|   29.3895|      83.97|
|  LUNA|SELL|     0.35|   24.1395|      68.97|
| MATIC| BUY|391.99925| 603.14717|    1.53864|
| MATIC|SELL|366.73796| 433.00587|     1.1807|
|   SOL| BUY|     5.38|  492.9615|   91.62853|
|   SOL|SELL|  4.71047| 381.99063|   81.09397|
|   UST| BUY|     2886| 2889.2221|    1.00112|
|   UST|SELL|     2933|2453.15171|     0.8364|
+------+----+---------+----------+-----------+

In [43]:
df.createOrReplaceTempView("BinanceBuySell")
dfGroupByType=spark.sql("select Type , count(*) from  BinanceBuySell group by Type")
dfGroupByType.show()

+----+--------+
|Type|count(1)|
+----+--------+
| BUY|       9|
|SELL|       9|
+----+--------+